.notanscointainer {
}
p, a, h1, h2, h3 {
    font-family: Roboto;
    text-decoration: none;
    color: #DFDFDF;
}
.menybilden {
    padding-top: 10px;
    padding-left: 10px;
}
div.notansmenyefter {
    display: block;
    width: 100px;
    height:100px;
    border: solid black 1px;
}
div.notansmeny {
    display: none;
}
a:hover {
    color: white;
}
#text {
    font-size: larger;
}
.notansheader {
    display: flex;
    flex-direction: column;
    background-color: #3F51B5;
}
.notansheader2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid black 1 px;
}
.notansnav {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: #DFDFDF;
    padding-bottom: 10px;
}
.bluesmarttooth {
    padding-top: 5px;
    font-size: 20px;
}
#demo-menu-lower-left {

}
#demo-menu-lower-right {

}
div.innan {
    display: flex;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
}
div.efter {
    display: none;
}
.notanslista {
    align-content:
    background-color: white;
    color:#95989A;
    list-style: none;
    border:solid black 1px;
    width: 20%;
}
.notanssoptipp {
    display: flex;
    justify-content: space-between;
}
@media screen
and (device-width : 360px)
and (device-height : 640px)
and (orientation : portrait)
and (-webkit-device-pixel-ratio: 3) {

}
/* TEST*/

